@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: .25s;
}

.scroll-remove {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.transparent-input {
  background-color: transparent; 
  border: none;                  
  outline: none;                 
}

.transparent-input:focus {
  outline: none !important;       
  border: none !important;        
  box-shadow: none !important;    
  -webkit-box-shadow: none;       
  -moz-box-shadow: none;          
}

.transparent-input:focus-visible {
  outline: none !important;       
}

.transparent-input:active {
  outline: none !important;       
}

